@import "./variables.scss";


*{
    padding: 0%;
    font-family: 'Inter';
    margin: 0%;
}





body{
    background-color: $primary;
    color: $text-color;
    scroll-behavior: smooth;
}

.App{
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    min-width: 100vw;
    // Adding more responsiveness just in case 
    background-color: $bg-1;

    .main{
        width: 100%;

        button{
            font-weight: 400;
            border: none;
            outline: none;
            border-radius: 8px;
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 17px;
            transition: all 250ms ease-out;

            &:hover{
                background-color: rgb(106, 106, 106);
                color: $grey-color;
            }
        }
    }
}


.sidebar{
    width: 100%;
    max-width: 250px;
    // position: fixed;
    overflow: hidden;
    color: white;
    position: relative;
    background-color: $side-navigation-background;
    height: 100vh;
    min-height: 100vh;
    transition: width 300ms ease-out;
    max-height: 100vh;


    a{
        text-decoration: none;
        color: inherit;
    }

    .content{
        padding: 38px 32px;
        padding-right: 50px;
        
        .bottom_side_navigation{
            opacity: 0.7;
        }
        
        li{
            list-style: none;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            padding: 10px 0px;
            margin: 1.2vh 0px;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-out;

            span{
                min-width: max-content;
            }


            &:hover{
                color: rgb(47, 49, 45);
            }

            img{
                margin-right: 10px;
            }
        }

        hr{
            opacity: 0.5;
            margin: 30px 2px;
        }

        button{
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            max-width: 100%;
            width: 100%;
            padding: 15px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            border: none;
            color: white;
            outline: none;
            cursor: pointer;
            margin-bottom: 10px;
            transition: all 300ms ease-out;
            min-width: max-content;

            &.welcome-user{
                background-color: #45269C;
                margin-bottom: 30px;
                font-size: 13px;
            }

            &.add-project{
                background-color: #703EFE;
                position: absolute;
                bottom: 3vh;
                max-width: calc(100% - 64px);
                font-size: 15px;
                
            }

            &:hover{
                opacity: 0.77;
                color: grey;
            }

            span{
                min-width: max-content;
                margin-left: 10px;
            }
        }
        
    }

    // &.active{
    //     width: 100%;
    // }
}


.topbar{
    background-color: white;
    box-shadow: 0px 4px 148px rgba(0, 0, 0, 0.02);
    padding: 4vh 5vw;

    .content{
        max-width: 1700px;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            font-weight: 600;
            font-size: 33px;
            line-height: 40px;
            margin-bottom: 5px;
            letter-spacing: -0.02em;
        }

        p{
            color: $grey-color;
            font-size: 15px;
        }
        button{
            background-color: black;
            color: white;
            padding: 10px 20px;
        }
    }

    .views{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5vh 0px 0vh 0px;
        color: $grey-color;

        .track-members{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        img{
            margin-right: 5px;
        }


        .view-list{
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;


                li{
                    list-style: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 3px;
                    margin-right: 2vw;

                    span{
                        min-width: max-content;
                    }
                   
                }
            }

     
        }
    }
}


.hamburger-menu{
    width: fit-content;
    position: absolute;
    top: 37px;
    right: 15px;


    span.menu-line{
        border-radius: 8px;
        min-width: 25px;
        width: 25px;
        min-height: 4px;
        transition: all 0.3s ease;
        margin-bottom: 2px;
        background-color: $side-navigation-background;
        display: block;
    }
}


.close-menu{
    width: fit-content;
    position: absolute;
    top: 37px;
    right: 15px;

    span.menu-line{
        border-radius: 8px;
        min-width: 25px;
        width: 25px;
        transition: all 0.3s ease;
        min-height: 4px;
        margin-bottom: 2px;
        background-color: $side-navigation-background;
        display: block;


        &.hide{
            display: none;
        }

        &.left{
            transform: translateY(3px) rotate(45deg);
        }

        &.right{
            transform: translateY(-3px) rotate(-45deg);
        }
    }
}


.main-tasks{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 5vw;
    max-width: 1700px;

    section{
        width: 30%;
        // max-width: 420px;
        overflow: hidden;
        // More responsiveness 

        .counter{
            width: calc(100% - 60px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $lighter-grey;
            padding: 10px 30px;
            border-radius: 8px;
            margin-bottom: 20px;
            margin-top: 1vh;

            span{
                color: white;
                background-color: black;
                padding: 8px 12px;
                border-radius: 4px;
            }
        }

        .single-task{
            background-color: white;
            padding: 15px;
            box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.02);
            border-radius: 12px;
            font-size: 13px;
            color: $grey-color;
            margin-bottom: 15px;

            .main-image{
                img{
                    width: 100%;
                    max-height: 17vh;
                }
            }

            .heading{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 10px 0px;

                h2{
                    font-size: 15px;
                    margin-bottom: 5px;
                    color: black;
                }

                p{
                    font-size: 13px;
                }
                img{
                    cursor: pointer;
                }
            }

            .about{
                .progress{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 0px;

                    div{
                        display: flex;
                        align-items: center;

                        img{
                            margin-right: 5px;
                        }
                    }
                }

                .slider{
                    img{
                        width: 100%;
                        border-radius: 55px;
                    }
                }

                .links{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div{
                        display: flex;
                        align-items: center;
                        
                        span{
                            margin-right: 10px;
                        }

                        img{
                            margin-right: 5px;
                        }
                    }

                }
            }
        }
    }
}


@media screen and (max-width: 1100px) {

    *{
        font-size: 15px;
    }
    .App{
        display: block;
        max-width: 100vw;
        max-height: none;
        min-width: none;
        // Adding more responsiveness just in case 

        .main{
            width: 100%;

        }
    }
    

    
    .sidebar{
        width: 00%;
        max-width: 250px;
        position: fixed;
        overflow: hidden;
        height: 100vh;
        min-height: 0vh;
        transition: width 300ms ease-out;
    
    
    
        .content{
            padding: 10px 32px;
            padding-right: 50px;
            
            .bottom_side_navigation{
                opacity: 0.7;
            }
            
            li{
                list-style: none;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                padding: 10px 0px;
                margin: 1.2vh 0px;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s ease-out;
            }
    
    
            button{
                font-weight: 400;
                font-size: 13px;
                &.welcome-user{
                    background-color: #45269C;
                    margin-bottom: 30px;
                    font-size: 13px;
                }
    
                &.add-project{
                    background-color: #703EFE;
                    position: absolute;
                    bottom: 3vh;
                    max-width: calc(100% - 64px);
                    font-size: 13px;
                    
                }
    
                &:hover{
                    opacity: 0.77;
                    color: grey;
                }
    
                span{
                    min-width: max-content;
                    margin-left: 10px;
                }
            }
            
        }
    
        &.active{
            width: 100%;
        }
    }
    
    
    .topbar{
        background-color: white;
        box-shadow: 0px 4px 148px rgba(0, 0, 0, 0.02);
        padding: 4vh 3vw;
    
        .content{
            max-width: 1700px;
        }
    
        header{
            display: block;
            justify-content: space-between;
            align-items: center;
    
            h1{
                font-weight: 600;
                font-size: 23px;
                line-height: 40px;
                margin-bottom: 15px;
                letter-spacing: -0.02em;
            }
    
            p{
                color: $grey-color;
                font-size: 13px;
            }
            button{
                background-color: black;
                color: white;
                margin: 10px 0px;
                font-size: 10px;
                padding: 10px 10px;
            }
        }
    
        .views{
            display: block;
            justify-content: space-between;
            align-items: center;
            margin: 5vh 0px 0vh 0px;
            color: $grey-color;
    
            .track-members{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
    
            img{
                margin-right: 5px;
            }
    
    
            .view-list{
                display: none;
                justify-content: space-between;
                align-items: center;
    
                ul{
                    display: block;
                    justify-content: space-between;
                    align-items: center;
    
    
                    li{
                        list-style: none;
                        cursor: pointer;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 3px;
                        margin-right: 2vw;
                        margin: 10px 0px;
    
                        span{
                            min-width: max-content;
                        }
                       
                    }
                }
    
         
            }
        }
    }
    
    
    .main-tasks{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px 2vw;
        margin: auto !important;
        width: max-content;
        max-width: 1700px;
        min-width: 100%;
    
        section{
            width: none;
            // max-width: 420px;
            width: fit-content;
            margin: auto;
            overflow:visible;
            // More responsiveness 
    
            .counter{
                // width: calc(100% - 60px);
                width: calc(90vw - 30px);
                max-width: 520px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $lighter-grey;
                padding: 10px 30px;
                border-radius: 8px;
                margin-bottom: 20px;
                margin-top: 50px;
    
                span{
                    color: white;
                    background-color: black;
                    padding: 8px 12px;
                    border-radius: 4px;
                }
            }
    
            .single-task{
                background-color: white;
                padding: 15px;
                box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.02);
                border-radius: 12px;
                font-size: 13px;
                color: $grey-color;
                margin-bottom: 15px;
                width: 90vw;
                max-width: 550px;
                // margin: auto;
    
                .main-image{
                    img{
                        width: 100%;
                        max-height: 17vh;
                    }
                }
    
            
            }
        }
    }
}





@media screen and (min-width: 600px) {
    .topbar {
        .views{
            display: flex;
            .view-list{
                display: flex;
    
                ul{
    
                    display: flex;
                }
            }
        }
    }
}



@media screen and (min-width: 1100px) {

    .hamburger-menu, .close-menu{
        display: none;
    }
}